@font-face {
    font-family: "Digital";
    src: url("fonts/digital.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    background-image: url("../img/menu/background.gif");
    width: 100%;
    height: 1001px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(92, 241, 117);
    padding: 60px;
    margin: 100px;
}

#view{
    /*margin: auto;*/
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}

#grid {
    position: absolute;
}

/* MAP */
.floor{
    background: url('../img/world/floor.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: absolute;     
}

.wall {
    background: url('../img/world/wall.png');
    background-position: -206px -2px;
    z-index: 1;
    position: absolute;
}

.stare {
    background: url('../img/world/stare.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: absolute;
}


/* ITEMS */
.item{
    position: absolute; 
    top: 0px;
    left: 0px;
    z-index: 3;
}

/* MOBS */
.mob{
    position: absolute; 
    top: 0px;
    left: 0px;
    z-index: 5;
}

/* DAMAGE */
.damage{
    font-family: 'Digital';
    position: absolute; 
    top: 15px;
    left: 15px;
    z-index: 15;
    color: #FE3113;
    font-size: 30px;
}

/* Player */
.player{
    background-image: url("../img/player/1.png");
    position: absolute; 
    top: 0px;
    left: 0px;
    z-index: 10;
}

/* Shuriken */
.shuriken{
    background-image: url("../img/items/shuriken3.png");
    background-size: cover;
    position: absolute; 
    top: 0px;
    left: 0px;
    z-index: 15;
    width: 20px;
    height: 21px;
}

.red-frame{
    background-color: red;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.player-up {
    background-position: 0px 0px;
}
.player-down {
    background-position: 0px 108px;
}
.player-left {
    background-position: 0px 76px;
}
.player-right {
    background-position: 0px 44px;
}

.container-amount {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(92, 241, 117);
    padding: 20px;
}

.amount {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 24px;
    padding: 0 20px;
}

.img-game {
    width: 20px;
    height: 20px;
}

span{
    color: rgb(92, 241, 117);
}

.items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}

.items-title {
    font-family: 'Digital';
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}

.items-case {
    /*border: 1px solid rgb(92, 241, 117);*/
    width: 30px;
    height: 30px;
    cursor: pointer;
}

div.items-case{
    margin-right: 10px;
}