@font-face {
    font-family: "Digital";
    src: url("fonts/digital.ttf") format("truetype");
}
/* font-family: 'Digital' */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */


body {
    margin: 0;
    top: 0;
    background-image: url("../img/menu/background.gif");
    background-color: #000;
    background-repeat: no-repeat;
    z-index: 100;
}

table {
    border-collapse: collapse;
}

tr {
   
}

td {
    border: 1px solid rgb(92, 241, 117);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 100%;
}

.title {
    font-size: 50px;
    font-family: 'Digital';
    color: #fff;
}

.leaderboard {
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 100px;
}

.pseudoscoretd {
    border: none;
    font-family: 'Digital';
    font-size: 26px;
    padding-bottom: 10px;
    color:rgb(92, 241, 117);
}

.copyright {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Digital';
    color: #fff;
}

.apple {
    color: red;
}

.label {
    color: rgb(92, 241, 117);
    font-family: 'Digital';
}