/* Importation icon pour l'input Username */
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

/* Importation des fonts */
@font-face {
  font-family: "Digital";
  src: url("fonts/digital.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    font-family: 'Digital';
}  

input[type=text] {
  display: flex;
}

span{
  color: rgb(92, 241, 117);
  font-family: 'Digital';
}

h1{
  font-family: 'Digital';
}

  .background {
    background-image: url("../img/menu/background.gif");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }

  .container {
    position: absolute;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: rgb(92, 241, 117);
    font-weight: bold;
    font-family: 'Digital';
    border: 3px solid rgb(92, 241, 117);
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    height: 60%;
    padding: 20px;
    text-align: center;
  }

  .button-start{
    color: #fff;
    border: 2px solid rgb(92, 241, 117);
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.3s;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    width: 240px;
    height: 40px;
    margin-left: 40.5%;
}

.button-start:hover{
    color: #000;
    background-color:rgb(92, 241, 117);
    border: 2px solid #000;
    text-decoration: none;
    border-radius: 12px;
    transition-duration: 0.3s;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
    width: 240px;
    height: 40px;
    margin-left: 40.5%;
}

  .textbox{
    margin-left: 500px;
    width: 250px;
    overflow: hidden;
    top: -500px;
    font-size: 20px;
    padding: 8px 0;
    margin-top: 100px;
    margin-left: 41%;
    border-bottom: 1px solid #4caf50;
  }

  .textbox i{
    width: 26px;
    float: left;
    text-align: center;
  }

  .textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }

  .copyright {
    padding-top: 150px;
    color: #fff;
  }